.profile_image {
    width:100%;
    height: 150px;
    background-color: rgb(75, 80, 151);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.svgimgkaggle{
    width: 50px;
    height: 40px;
}

.kagglelink {
    color:rgb(121, 208, 235);
    font-weight: bolder;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 5px;
    font-size: 15px;
    
}


